* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'IBM Plex Sans', sans-serif !important;
  background-color: #A4B4FD; }

.img-grid, .gridResponsive .gridResponsive__caja--1, .gridResponsive .gridResponsive__caja--2, .gridResponsive .gridResponsive__caja--3, .gridResponsive .gridResponsive__caja--4, .gridResponsive .gridResponsive__caja--5, .gridResponsive .gridResponsive__caja--6 {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.gridResponsive {
  height: 500px;
  width: 80%;
  margin: 0 auto;
  border: 2px solid white;
  display: grid;
  grid-template-areas: "caja-1 caja-1 caja-5 caja-2" "caja-1 caja-1 caja-5 caja-2" "caja-1 caja-1 caja-6 caja-6" "caja-3 caja-4 caja-6 caja-6";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 4fr 2fr 2fr 4fr; }
  .gridResponsive .gridResponsive__caja {
    font-size: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white; }
  .gridResponsive .gridResponsive__caja--1 {
    grid-area: caja-1; }
  .gridResponsive .gridResponsive__caja--2 {
    grid-area: caja-2; }
  .gridResponsive .gridResponsive__caja--3 {
    grid-area: caja-3; }
  .gridResponsive .gridResponsive__caja--4 {
    grid-area: caja-4; }
  .gridResponsive .gridResponsive__caja--5 {
    grid-area: caja-5; }
  .gridResponsive .gridResponsive__caja--6 {
    grid-area: caja-6; }

.header .nav__boss {
  background-color: #C572FD;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: auto;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh; }
  .header .nav__boss .nav__logo--boss {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin-left: 1.5vh; }
  .header .nav__boss .nav__links {
    display: flex;
    flex-direction: row;
    list-style: none; }
    .header .nav__boss .nav__links .nav__item {
      font-size: large;
      width: auto; }
      .header .nav__boss .nav__links .nav__item .nav__link {
        text-decoration: none;
        margin-right: 1vh;
        padding: 1.5vh;
        color: black;
        transition: all 1s; }
        .header .nav__boss .nav__links .nav__item .nav__link:hover {
          background-color: #9569FD;
          border-radius: 10px;
          color: white; }

.card__titulo {
  text-align: center;
  background-color: white;
  color: black; }

.card {
  width: 35vh;
  border: 5px solid #9569FD !important;
  background-color: rgba(0, 0, 0, 0.24);
  margin: 2vh;
  transition: all 1s; }
  .card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px #9569FD; }
  .card .card__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: solid 2px black; }
  .card .btn-card {
    color: white;
    background-color: #9569FD;
    border-color: #9569FD; }
  .card .btn {
    box-shadow: none !important; }

.tablas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .tablas .table__titulo {
    margin: 1rem; }
  .tablas .section__table {
    width: 80%;
    border-collapse: collapse;
    border-bottom: 2px solid black;
    background-color: #A4B4FD;
    margin-top: 10px;
    margin-bottom: 10px; }
    .tablas .section__table .table__text {
      padding: 10px;
      font-weight: 500; }
    .tablas .section__table .text__mod {
      width: 60%; }
    .tablas .section__table .btns-tours {
      width: 100%;
      background-color: #A7E9FD; }
      .tablas .section__table .btns-tours:hover {
        background-color: black;
        color: white; }
    .tablas .section__table .btns-tours2 {
      width: 100%; }
      .tablas .section__table .btns-tours2:hover {
        background-color: #A7E9FD;
        color: black; }

.main_section--discos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .main_section--discos .section__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 19%;
    border: solid 2px blueviolet;
    background-image: linear-gradient(to left, #FE99C7, white); }
    .main_section--discos .section__article .section__title {
      text-decoration: underline;
      text-align: center; }
    .main_section--discos .section__article .section__lista {
      list-style: none;
      margin: 0;
      padding: 0; }
      .main_section--discos .section__article .section__lista .section__item {
        font-weight: 700;
        padding: 5px;
        text-align: center; }
    .main_section--discos .section__article .section__image {
      height: auto;
      width: 200px;
      padding-top: 10px;
      padding-bottom: 10px; }
    .main_section--discos .section__article .modal-footer {
      align-items: flex-start;
      flex-direction: column; }
      .main_section--discos .section__article .modal-footer .yt {
        width: 440%; }
      .main_section--discos .section__article .modal-footer .sp {
        width: 490%; }
    .main_section--discos .section__article .flechas {
      display: flex;
      margin: 10px; }
      .main_section--discos .section__article .flechas .flechas__img {
        margin-right: 10px;
        margin-left: 10px;
        animation-name: mi_animacion;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        animation-duration: 1s;
        animation-delay: 0s; }

.form {
  display: flex;
  align-items: center;
  justify-content: center; }
  .form .form__area {
    padding: 5%;
    margin: 2vh;
    background-color: rgba(51, 51, 51, 0.508); }
    .form .form__area .form__text {
      color: white;
      text-decoration: underline;
      font-size: 150%;
      vertical-align: top; }
    .form .form__area .form__input {
      color: white;
      border-radius: 10px;
      font-size: 150%;
      background-color: #8b8a8a; }
    .form .form__area .form__select {
      font-size: 120%; }

.footer {
  background-color: #C572FD;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  margin-top: 0.5rem; }

.footer__creditos {
  margin-right: 2vh;
  font-weight: 700;
  font-size: 25px; }

.ajuste, .footer__redes__ig, .footer__redes__tw, .footer__redes__yt, .footer__redes__spotify {
  transition: all 1s;
  font-size: 4.5vh;
  padding-right: 0.5vh; }

.footer__redes__ig {
  color: blueviolet; }

.footer__redes__tw {
  color: darkturquoise; }

.footer__redes__yt {
  color: red; }

.footer__redes__spotify {
  color: green; }

:hover.footer__redes__ig {
  transform: rotateY(720deg); }

:hover.footer__redes__tw {
  transform: rotateY(720deg); }

:hover.footer__redes__yt {
  transform: rotateY(720deg); }

:hover.footer__redes__spotify {
  transform: rotateY(720deg); }

.footer__redes {
  margin-left: 2vh; }

.main__section--p {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/fondo.png); }

.main__title {
  background-color: black;
  color: white;
  text-align: center; }

.section__text {
  padding-top: 15px;
  background-color: black;
  color: white; }

.section__p {
  font-weight: 700;
  text-align: center;
  padding: 10px;
  margin-bottom: 0; }

.section__img--horizontal {
  height: auto;
  width: 100%;
  border-radius: 5%; }

.section__img {
  width: auto;
  height: 80vh;
  border-radius: 5%; }

.aside__img {
  width: 100%;
  height: auto;
  object-fit: cover; }

/* LAPTOP */
@media screen and (max-width: 768px) {
  .nav__boss {
    height: auto;
    align-items: center !important; }
  .nav__links {
    flex-direction: column !important;
    list-style: none;
    align-items: center; }
  .nav__item {
    margin-top: 5px; }
  .footer {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem; }
  /* INDEX */
  .main__section--p {
    text-align: center; }
  .main__section--c {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap; }
  .card {
    display: flex;
    width: 30vh; }
  /* INDEX */
  /* INFORMACION */
  .section__contenedorImagenes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .section__info {
    width: 100%; }
  .section__contImg {
    margin: 15px; }
  .section__img {
    width: auto;
    height: 50vh; }
  /* INFORMACION */
  /* DISCOS */
  .main_section--discos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .section__article {
    align-items: center;
    width: 25%;
    margin: 20px; }
  .section__image {
    width: 190px;
    height: auto;
    padding-top: 10px; }
  /* DISCOS */
  /* TOURS */
  .main__section--table {
    display: flex; }
  .section__table {
    width: 90%; }
  /* TOURS */
  /* CONTACTO */
  .main__section--form {
    height: 100%; }
  /* CONTACTO */ }

/* LAPTOP */
/* TABLET */
@media screen and (max-width: 576px) {
  .nav__boss {
    height: auto;
    align-items: center !important; }
  .nav__links {
    flex-direction: column !important;
    list-style: none;
    align-items: center; }
  .nav__item {
    margin-top: 5px; }
  .footer {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem; }
  /* INDEX */
  .main__section--p {
    text-align: center; }
  .main__section--c {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap; }
  .card {
    display: flex;
    width: 35vh; }
  /* INDEX */
  /* INFORMACION */
  .section__contenedorImagenes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .section__info {
    width: 95%; }
  .section__contImg {
    margin: 5px; }
  .section__img {
    width: auto;
    height: 50vh; }
  /* INFORMACION */
  /* DISCOS */
  .main_section--discos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .section__article {
    align-items: center;
    width: 40%;
    margin: 20px; }
  .section__image {
    width: 200px;
    height: auto;
    padding-top: 10px; }
  .yt {
    width: 480%; }
  .sp {
    width: 532%; }
  /* DISCOS */
  /* TOURS */
  .main__section--table {
    display: flex; }
  .section__table {
    width: 90%; }
  /* TOURS */
  /* CONTACTO */
  .main__section--form {
    height: auto; }
  /* CONTACTO */ }

/* TABLET */
/* MOBILE */
@media screen and (max-width: 480px) {
  .nav__boss {
    display: flex;
    height: auto;
    align-items: center !important; }
  .nav__links {
    flex-direction: column !important;
    list-style: none;
    align-items: center; }
  .nav__item {
    margin-top: 5px; }
  .footer {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem; }
  /* INDEX */
  .contenido {
    flex-direction: column;
    text-align: center; }
  .card {
    width: 45vh; }
  /* INDEX */
  /* INFORMACION */
  .main__title--info {
    font-size: x-large; }
  .section__info {
    width: 95%; }
  .section__img {
    width: auto;
    height: 50vh; }
  /* INFORMACION */
  /* DISCOS */
  .main_section--discos {
    display: flex;
    flex-direction: column !important; }
  .section__article {
    align-items: center;
    width: 80% !important; }
  .yt {
    width: 400%; }
  .sp {
    width: 443%; }
  /* DISCOS */
  /* TOURS */
  .main__section--table {
    display: flex; }
  .section__table {
    width: auto;
    margin: 10px; }
  .table__title {
    padding: 5px;
    font-size: 15px; }
  .table__text {
    padding: 0px;
    font-size: 15px;
    text-align: center; }
  /* TOURS */
  /* CONTACTO */
  .main__section--form {
    height: auto; }
  /* CONTACTO */ }
