* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'IBM Plex Sans', sans-serif !important;
  background-color: #c5dde7; }

.grid-index {
  display: grid;
  grid-template-areas: "encabezado" "contenido" "footer";
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto; }

.grid-contacto {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-areas: "encabezado encabezado" "aside form" "footer footer";
  grid-template-columns: 25% 75%;
  grid-template-rows: 8% auto 6%;
  justify-content: center; }

.grid-info {
  display: grid;
  grid-template-areas: "encabezado" "contenido" "footer";
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto; }

.grid-discos {
  display: grid;
  grid-template-areas: "encabezado" "contenido" "footer";
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto; }

.grid-tours {
  display: grid;
  grid-template-areas: "encabezado" "contenido" "footer";
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto; }

.header {
  grid-area: encabezado; }
  .header .nav {
    background-color: #dadff7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto; }
    .header .nav .nav__logo {
      height: 60px;
      width: 60px;
      border-radius: 50px;
      margin-left: 1.5vh;
      margin-top: 0.5vh; }
    .header .nav .nav__links {
      display: flex;
      flex-direction: row;
      list-style: none; }
      .header .nav .nav__links .nav__item {
        font-size: large;
        width: auto; }
        .header .nav .nav__links .nav__item .nav__link {
          text-decoration: none;
          margin-right: 1vh;
          padding: 1.5vh;
          color: blueviolet;
          transition: all 2s; }
          .header .nav .nav__links .nav__item .nav__link:hover {
            background-color: #6d6de7;
            border-radius: 10px;
            color: white; }
  .header .nav__boss {
    background-color: #dadff7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: auto;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh; }
    .header .nav__boss .nav__logo--boss {
      height: 60px;
      width: 60px;
      border-radius: 50px;
      margin-left: 1.5vh; }
    .header .nav__boss .nav__links {
      display: flex;
      flex-direction: row;
      list-style: none; }
      .header .nav__boss .nav__links .nav__item {
        font-size: large;
        width: auto; }
        .header .nav__boss .nav__links .nav__item .nav__link {
          text-decoration: none;
          margin-right: 1vh;
          padding: 1.5vh;
          color: blueviolet;
          transition: all 1s; }
          @media screen and (min-width: 576px) {
            .header .nav__boss .nav__links .nav__item .nav__link:hover {
              background-color: #6d6de7;
              border-radius: 10px;
              color: white; } }

.card__titulo {
  text-align: center;
  background-color: gray; }

.card {
  width: 35vh;
  border: 5px solid #5a7d7c !important;
  background-color: rgba(0, 0, 0, 0.24);
  margin: 2vh;
  transition: all 1s; }
  .card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px #79aca9; }
  .card .card__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: solid 2px black; }
  .card .btn-card {
    color: white;
    background-color: #5a7d7c;
    border-color: #79aca9; }
  .card .btn {
    box-shadow: none !important; }

.ajuste, .footer__redes__ig, .footer__redes__tw, .footer__redes__yt, .footer__redes__spotify {
  transition: all 1s;
  font-size: 4.5vh;
  padding-right: 0.5vh; }

.footer__redes__ig {
  color: blueviolet; }

.footer__redes__tw {
  color: darkturquoise; }

.footer__redes__yt {
  color: red; }

.footer__redes__spotify {
  color: green; }

:hover.footer__redes__ig {
  transform: rotateY(720deg); }

:hover.footer__redes__tw {
  transform: rotateY(720deg); }

:hover.footer__redes__yt {
  transform: rotateY(720deg); }

:hover.footer__redes__spotify {
  transform: rotateY(720deg); }

.footer__redes {
  margin-left: 2vh; }

/* INDEX */
.main__section--p {
  grid-area: contenido;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/fondo.png); }

.main__title {
  background-color: black;
  color: white;
  text-align: center; }

.section__text {
  padding-top: 15px;
  background-color: black;
  color: white; }

/* INDEX */
/* CARD */
/* CARD */
/* INFORMACION */
.main__section--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: contenido; }

.section__info {
  width: 75%; }

.section__p {
  font-weight: 700;
  text-align: center;
  padding: 10px; }

.section__contenedorImagenes {
  display: flex;
  flex-direction: row; }

.section__contImg {
  margin: 25px; }

.section__img {
  width: auto;
  height: 250px;
  border-radius: 25%; }

/* INFORMACION */
/* DISCOS */
.main_section--discos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  grid-area: contenido; }

.section__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 19%;
  border: solid 2px blueviolet;
  background-image: linear-gradient(to left, rgba(189, 97, 175, 0.87), white); }

.section__title {
  text-decoration: underline;
  text-align: center; }

.section__lista {
  list-style: none;
  margin: 0;
  padding: 0; }

.section__image {
  height: auto;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px; }

.section__item {
  font-weight: 700;
  padding: 5px;
  text-align: center; }

.modal-footer {
  align-items: flex-start;
  flex-direction: column; }

.yt {
  width: 440%; }

.sp {
  width: 490%; }

.flechas {
  display: flex;
  margin: 10px; }

.flechas__img {
  margin-right: 10px;
  margin-left: 10px;
  animation-name: mi_animacion;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-delay: 0s; }

@keyframes mi_animacion {
  0% { }
  /* 25% {
        transform: translateY(-5px);

    } */
  50% {
    transform: translateY(5px); }
  /* 75% {
        transform: translateY(5px);

    } */
  100% {
    transform: translateY(0px); } }

/* DISCOS */
/* TOURS */
.main__section--table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/fondo.png);
  background-repeat: repeat;
  grid-area: contenido; }

.section__table {
  width: 80%;
  border-collapse: collapse;
  border: 4px solid gray;
  background-color: #c5dde7;
  margin-top: 10px;
  margin-bottom: 10px; }

.table__title {
  width: 25%;
  padding: 10px;
  text-decoration: underline;
  font-size: 20px; }

.table__text {
  padding: 10px;
  font-weight: 500; }

/* .table__tr:nth-child(odd) {
    background-color: #db95ca;
}

.table__tr:nth-child(even) {
    background-color:  rgb(197, 221, 231);
} */
/* TOURS */
/* CONTACTO */
.main__section--form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #616161;
  padding-bottom: 5vh; }

.grid-formularios {
  grid-area: form; }

.grid-aside {
  grid-area: aside; }

.form__area {
  padding: 5%;
  margin: 1vh;
  background-color: rgba(51, 51, 51, 0.508);
  border-radius: 10%; }

.form__text {
  color: white;
  text-decoration: underline;
  font-size: 150%;
  vertical-align: top; }

.form__input {
  color: white;
  border-radius: 10px;
  font-size: 150%;
  margin-top: 3%;
  background-color: #8b8a8a; }

.form__select {
  font-size: 120%; }

.aside {
  display: flex;
  width: 100%;
  height: 100%; }

.aside__img {
  width: 100%;
  height: auto;
  object-fit: cover; }

/* CONTACTO */
/* FOOTER */
.footer {
  background-color: #a0c1d1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  grid-area: footer; }

.footer__creditos {
  margin-right: 2vh;
  font-weight: 700;
  font-size: 25px; }

/* LAPTOP */
@media screen and (max-width: 768px) {
  /* INDEX */
  .grid-index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .main__section--p {
    text-align: center; }
  .main__section--c {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap; }
  .card {
    display: flex;
    width: 30vh; }
  /* INDEX */
  /* INFORMACION */
  .grid-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .section__contenedorImagenes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .section__info {
    width: 100%; }
  .section__contImg {
    margin: 15px; }
  .section__img {
    width: auto;
    height: 200px; }
  /* INFORMACION */
  /* DISCOS */
  .grid-discos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .main_section--discos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .section__article {
    align-items: center;
    width: 25%;
    margin: 20px; }
  .section__image {
    width: 190px;
    height: auto;
    padding-top: 10px; }
  /* DISCOS */
  /* TOURS */
  .grid-tours {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .main__section--table {
    display: flex; }
  .section__table {
    width: 90%; }
  /* TOURS */
  /* CONTACTO */
  .grid-contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .main__section--form {
    height: 100%; }
  /* CONTACTO */ }

/* LAPTOP */
/* TABLET */
@media screen and (max-width: 576px) {
  .nav {
    height: auto; }
  .nav__boss {
    height: auto;
    align-items: center; }
  .nav__links {
    flex-direction: column;
    list-style: none;
    align-items: center; }
  .nav__item {
    margin-top: 5px; }
  /* INDEX */
  .grid-index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .main__section--p {
    text-align: center; }
  .main__section--c {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap; }
  .card {
    display: flex;
    width: 35vh; }
  /* INDEX */
  /* INFORMACION */
  .grid-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .section__contenedorImagenes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .section__info {
    width: 95%; }
  .section__contImg {
    margin: 5px; }
  .section__img {
    width: auto;
    height: 150px; }
  /* INFORMACION */
  /* DISCOS */
  .grid-discos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .main_section--discos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .section__article {
    align-items: center;
    width: 40%;
    margin: 20px; }
  .section__image {
    width: 200px;
    height: auto;
    padding-top: 10px; }
  .yt {
    width: 480%; }
  .sp {
    width: 532%; }
  /* DISCOS */
  /* TOURS */
  .grid-tours {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .main__section--table {
    display: flex; }
  .section__table {
    width: 90%; }
  /* TOURS */
  /* CONTACTO */
  .grid-contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .main__section--form {
    height: auto; }
  /* CONTACTO */ }

/* TABLET */
/* MOBILE */
@media screen and (max-width: 480px) {
  .nav {
    height: auto; }
  .nav__boss {
    height: auto;
    align-items: center; }
  .nav__links {
    flex-direction: column;
    list-style: none;
    align-items: center; }
  .nav__item {
    margin-top: 5px; }
  .footer {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  /* INDEX */
  .grid-index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .contenido {
    flex-direction: column;
    text-align: center; }
  .card {
    width: 45vh; }
  /* INDEX */
  /* INFORMACION */
  .grid-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .section__contenedorImagenes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .main__title--info {
    font-size: x-large; }
  .section__info {
    width: 95%; }
  .section__contImg {
    margin: 5px; }
  .section__img {
    width: auto;
    height: 150px; }
  /* INFORMACION */
  /* DISCOS */
  .grid-discos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .main_section--discos {
    display: flex;
    flex-direction: column; }
  .section__article {
    align-items: center;
    width: 85%; }
  .yt {
    width: 400%; }
  .sp {
    width: 443%; }
  /* DISCOS */
  /* TOURS */
  .grid-tours {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .main__section--table {
    display: flex; }
  .section__table {
    width: auto;
    margin: 10px; }
  .table__title {
    padding: 5px;
    font-size: 15px; }
  .table__text {
    padding: 0px;
    font-size: 15px;
    text-align: center; }
  /* TOURS */
  /* CONTACTO */
  .grid-contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .main__section--form {
    height: auto; }
  /* CONTACTO */ }

/* MOBILE */
