.img-grid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gridResponsive {
    height: 500px;
    width: 80%;
    margin: 0 auto;
    border: 2px solid white;
    display: grid;
    grid-template-areas:
        "caja-1 caja-1 caja-5 caja-2"
        "caja-1 caja-1 caja-5 caja-2"
        "caja-1 caja-1 caja-6 caja-6"
        "caja-3 caja-4 caja-6 caja-6";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 4fr 2fr 2fr 4fr;

    .gridResponsive__caja {
        font-size: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid white;
    }

    .gridResponsive__caja--1 {
        grid-area: caja-1;
        @extend .img-grid;
    }

    .gridResponsive__caja--2 {
        grid-area: caja-2;
        @extend .img-grid;
    }

    .gridResponsive__caja--3 {
        grid-area: caja-3;
        @extend .img-grid;
    }

    .gridResponsive__caja--4 {
        grid-area: caja-4;
        @extend .img-grid;
    }

    .gridResponsive__caja--5 {
        grid-area: caja-5;
        @extend .img-grid;
    }

    .gridResponsive__caja--6 {
        grid-area: caja-6;
        @extend .img-grid;
    }
}

// .gridResponsive__caja {
//     font-size: 58px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border: 2px solid white;
// }

// .img-grid {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }

// .gridResponsive__caja--1 {
//     grid-area: caja-1;
// }

// .gridResponsive__caja--2 {
//     grid-area: caja-2;
// }

// .gridResponsive__caja--3 {
//     grid-area: caja-3;
// }

// .gridResponsive__caja--4 {
//     grid-area: caja-4;
// }

// .gridResponsive__caja--5 {
//     grid-area: caja-5;
// }

// .gridResponsive__caja--6 {
//     grid-area: caja-6;
// }