.header {
    grid-area: encabezado;

    .nav__boss {
        background-color: $color__nav;
        @include flexbox(flex, row, space-between, flex-end);

        height: auto;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;

        .nav__logo--boss {
            height: 60px;
            width: 60px;
            border-radius: 50px;
            margin-left: 1.5vh;
        }

        .nav__links {
            display: flex;
            flex-direction: row;
            list-style: none;

            .nav__item {
                font-size: large;
                width: auto;

                .nav__link {
                    text-decoration: none;
                    margin-right: 1vh;
                    padding: 1.5vh;
                    color: $fondo__text;
                    transition: all 1s;

                    &:hover {
                        background-color: #9569FD;
                        border-radius: 10px;
                        color: $text;
                    }

                }
            }
        }
    }

}