@import "variables";
@import "generales";
@import "mixins";
@import "grid";
@import "header";
@import "card";
@import "tabla";
@import "discos";
@import "form";
@import "footer";
@import "redes";

.main__section--p {
    grid-area: contenido;
    @include sizes(auto, 100vh);
    @include flexbox(flex, column, center, center);
    background-image: url(../images/fondo.png);
}

.main__title {
    background-color: $fondo__text;
    color: $text;
    text-align: center;
}

.section__text {
    padding-top: 15px;
    background-color: $fondo__text;
    color: $text;
}

.section__p {
    font-weight: 700;
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
}

.section__img--horizontal {
    height: auto;
    width: 100%;
    border-radius: 5%;
}

.section__img {
    width: auto;
    height: 80vh;
    border-radius: 5%;
}

.aside__img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* LAPTOP */

@media screen and (max-width: 768px) {

    .nav__boss {
        height: auto;
        align-items: center !important;
    }

    .nav__links {
        flex-direction: column !important;
        list-style: none;
        align-items: center;
    }

    .nav__item {
        margin-top: 5px;
    }

    .footer {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 1rem;
    }

    /* INDEX */

    .grid-index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .main__section--p {
        text-align: center;
    }

    .main__section--c {
        display: flex;
        flex-direction: row;
        text-align: center;
        flex-wrap: wrap;
    }

    .card {
        display: flex;
        width: 30vh;
    }

    /* INDEX */

    /* INFORMACION */

    .grid-info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .section__contenedorImagenes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .section__info {
        width: 100%;
    }

    .section__contImg {
        margin: 15px;
    }

    .section__img {
        width: auto;
        height: 50vh;
    }

    /* INFORMACION */

    /* DISCOS */

    .grid-discos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .main_section--discos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .section__article {
        align-items: center;
        width: 25%;
        margin: 20px;
    }

    .section__image {
        width: 190px;
        height: auto;
        padding-top: 10px;
    }

    /* DISCOS */

    /* TOURS */

    .grid-tours {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .main__section--table {
        display: flex;
    }

    .section__table {
        width: 90%;
    }

    /* TOURS */

    /* CONTACTO */

    .grid-contacto {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .main__section--form {
        height: 100%;
    }

    /* CONTACTO */
}

/* LAPTOP */

/* TABLET */

@media screen and (max-width: 576px) {


    .nav__boss {
        height: auto;
        align-items: center !important;
    }

    .nav__links {
        flex-direction: column !important;
        list-style: none;
        align-items: center;
    }

    .nav__item {
        margin-top: 5px;
    }

    .footer {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 1rem;
    }

    /* INDEX */

    .grid-index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .main__section--p {
        text-align: center;
    }

    .main__section--c {
        display: flex;
        flex-direction: row;
        text-align: center;
        flex-wrap: wrap;
    }

    .card {
        display: flex;
        width: 35vh;
    }

    /* INDEX */

    /* INFORMACION */

    .grid-info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .section__contenedorImagenes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .section__info {
        width: 95%;
    }

    .section__contImg {
        margin: 5px;
    }

    .section__img {
        width: auto;
        height: 50vh;
    }

    /* INFORMACION */

    /* DISCOS */

    .grid-discos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .main_section--discos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .section__article {
        align-items: center;
        width: 40%;
        margin: 20px;
    }

    .section__image {
        width: 200px;
        height: auto;
        padding-top: 10px;
    }

    .yt {
        width: 480%;
    }

    .sp {
        width: 532%;
    }

    /* DISCOS */

    /* TOURS */

    .grid-tours {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .main__section--table {
        display: flex;
    }

    .section__table {
        width: 90%;
    }

    /* TOURS */

    /* CONTACTO */

    .grid-contacto {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .main__section--form {
        height: auto;
    }

    /* CONTACTO */

}

/* TABLET */

/* MOBILE */

@media screen and (max-width: 480px) {

    .nav__boss {
        display: flex;
        height: auto;
        align-items: center !important;
    }

    .nav__links {
        flex-direction: column !important;
        list-style: none;
        align-items: center;
    }

    .nav__item {
        margin-top: 5px;
    }

    .footer {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 1rem;
    }

    /* INDEX */

    .grid-index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }


    .contenido {
        flex-direction: column;
        text-align: center;
    }

    .card {
        width: 45vh;
    }

    /* INDEX */

    /* INFORMACION */

    .grid-info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .main__title--info {
        font-size: x-large;
    }

    .section__info {
        width: 95%;
    }

    .section__img {
        width: auto;
        height: 50vh;
    }

    /* INFORMACION */

    /* DISCOS */

    .grid-discos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .main_section--discos {
        display: flex;
        flex-direction: column !important;
    }

    .section__article {
        align-items: center;
        width: 80% !important;
    }

    .yt {
        width: 400%;
    }

    .sp {
        width: 443%;
    }

    /* DISCOS */

    /* TOURS */

    .grid-tours {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .main__section--table {
        display: flex;
    }

    .section__table {
        width: auto;
        margin: 10px;
    }

    .table__title {
        padding: 5px;
        font-size: 15px;
    }

    .table__text {
        padding: 0px;
        font-size: 15px;
        text-align: center;
    }

    /* TOURS */

    /* CONTACTO */

    .grid-contacto {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .main__section--form {
        height: auto;
    }

    /* CONTACTO */
}